.DS_Store
docker/.DS_Store
docker/cellranger/2.1.1/cellranger-2.1.1.tar.gz
docker/cellranger/2.2.0/cellranger-2.2.0.tar.gz
docker/cellranger/3.0.2/cellranger-3.0.2.tar.gz
docker/cellranger-atac/1.0.1/cellranger-atac-1.0.1.tar.gz
docker/scCloud/.DS_Store
docker/scCloud/extract_ADT_UMIs/generate_count_matrix_ADTs
docker/scCloud/scCloud-*.tar.gz
docs/.DS_Store
workflows/.DS_Store
workflows/scCloud/.DS_Store
workflows/test/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
